@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Fugaz+One&family=Marck+Script&family=Playball&display=swap');

:root {
    --cor1:#FF3A4C;
    --cor2:#F2D162;
    --cor3:#FFE6AD;
    --cor4:#452C19;
    --cor5:#FF857A;

    --font1: 'Fugaz One', sans-serif;
    --font2: 'Allura', cursive;;
    --font3: 'Marck Script', cursive;
    --font4: 'Playball', cursive;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:var(--cor3) ;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background: linear-gradient(45deg, var(--cor1) , var(--cor5), var(--cor1));
    width: 100%;
    height: 200px;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    
}

h1 {
    font-family: var(--font3);
    font-size: 60px;
    font-weight: bolder;
    color: var(--cor4);
    text-shadow: 4px 1px 2px var(--cor1) ;
    position: relative;
    z-index: 2;
}
object {
    position: absolute;
    width: 22em;
    top: 0;
    opacity: 0.3;
}

.bolo {
    position: absolute;
    width: 30px;
    height: 50px;
}
#bolo1 {
    opacity: 1;
    bottom:70%;
    left: 10px;
}
#bolo2 {
    right: 10px;
    bottom: 71%;
}
#bolo3 {
    bottom: 71%;
    right: 220px;
}
#bolo4 {
    right: 120px;
    bottom: 70%;
}



.pessoal {
    font-family: var(--font4);
    font-size: 1.4em;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--cor5);
    padding: 1px;
}

.pessoal  a{
    font-weight: bold;
    color: black;
    padding: 10px;
    font-size: 0.8em;
    text-decoration: none;
    transition: 0.5s;

}

.pessoal a:hover{
    border-radius: 10px;
    background-color: var(--cor1);
    color: var(--cor4);
}


.nav-bar {
   
    display: flex;
    background-color: var(--cor5);
    margin: 1px 1px;
    padding: 10px;
    width: 90px;
    height: 390px;
    justify-content: center;
    position: absolute;
    left: -120px;
    border-radius: 5px 5px 10px 10px;
    z-index: 2;
    transition: 0.5s;
    
    
}
.nav-bar >ul  {
    list-style-type: none;
    padding: 0;
   
}

.nav-bar > ul > li {
    display: flex;
    
    
    
}

.nav-bar > ul > li > a {
    font-family: var(--font4);
    font-size: 1.2em;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    transition: 0.5s;
}

.nav-bar > ul > li > a:hover {
    color: black;
    background-color: var(--cor1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.168);
    border-radius: 15px;
}

/*Criacao do Menu hamburguer*/
.nav-bar .menu-icon {
    position: absolute;
    right: -47px;
    width: 20px;
    height: 17px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.4s;
  }
  
  .bar {
    
    width: 25px;
    height: 3px;
    background-color: #000;
    transition: 0.5s;
  }
  
  .menu-open .bar:nth-child(1) {
    position: absolute;
    top: 1px;
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .menu-open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-open .bar:nth-child(3) {
    position: absolute;
    bottom: -2px;
    transform: rotate(45deg) translate(-5px, -5px);
  }



.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    gap: 10px;
    margin: 60px auto 30px 30px;
    width: 90%;
    background-color: var(--cor3);
  
    
}

.produto {
    display: flex;
    flex-direction: column; /* Coloca a imagem e o botão em coluna */
    align-items: center; /* Centraliza horizontalmente */
}

.produto img {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    max-width: 100px;
    height: auto;
    
}
.produto img:hover {
    transform: scale(1.2);
}

.produto p {
    color: #000;
    font-family: var(--font1);
    margin-top: 3px;
}

.produto button {
    color: var(--cor4);
    font-family: var(--font1);
    background-color: var(--cor5);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px; /* Adiciona espaço entre a imagem e o botão */
    cursor: pointer;
    transition: 0.3s;
}

.produto button:hover {
    color: var(--cor4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.241);
    background-color: white;
    border: 2px solid var(--cor1);
}
@keyframes showNavBar {
    from {
      left: -120px;
    }
    to {
      left: 0;
    }
  }
  
  